* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
    display: none !important;
}

.invisible {
  visibility: hidden !important;
}

button {
    min-width: 100px;
    padding: 5px 10px;
    cursor: pointer;
}

.loader {
    display: none;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 3px solid gray;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.big-spinner {
  width: 55px;
  height: 55px;
  display: none;
}

#auth-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form, #register-form {
    &.loading {
      button.submit {
          display: none;
      }
    
      button.loader {
          display: block;
      }
    }
}

#logged-section {
  min-height: 100vh;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px 0;

  &.loading {
    .big-spinner {
        display: block;
    }
  }
}

.card {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.event-card {
  flex-direction: row;
  width: 600px;
  justify-content: space-between;
}

fieldset {
    border: 0;
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}

.success {
    color: green;
}

.link {
  border: none;
  background-color: white;
  color: darkblue;
  text-decoration: underline;
  min-width: fit-content;
  padding: 0;

  &:hover {
    color: blue;
  }
}

.pagination {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;

  img {
    height: 20px;
    width: 20px;
  }

  img.next {
    transform: rotate(180deg);
  }

  button {
    border: none;
    background-color: transparent;
  }

  .current-page {
    background-color: lightgray;
    min-width: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}